.Portfolie_contant {
    text-align: center;
    padding-bottom: 100px;

}

.portfolio_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio_item {
    margin-top: 15px;
}

.item-side-2 h6 {
    width: 95% !important;
    font-weight: 400;
    padding-bottom: 10px;
}

.use_case_list p {
    display: inline-block !important;
    background-color: #E7E7E7;
    padding: 10px 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 10px;
    border-radius: 15px;
    color: #666;
    font-size: 1rem;
}

.portfolio_item {
    background-color: white;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(97, 97, 97, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(97, 97, 97, 1);
    box-shadow: 0px 0px 6px 0px rgba(97, 97, 97, 1);

}

.item-side-2 a svg {
    font-size: 1.5rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portfolio_item {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }

    .item-side-1 {
        flex-basis: 50%;
        background-color: #F3F4F6;
        height: 100%;
        padding: 3%;
    }

    .item-side-1 img {
        width: 100%;
    }

    .item-side-2 {
        flex-basis: 50%;
        text-align: left;
        padding: 20px;
    }

    .item-side-2 h6 {
        font-size: 0.9rem;
        text-align: justify;
    }

    .item-side-2 h2 {
        font-size: 1.2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .portfolio_item {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }

    .item-side-1 {
        flex-basis: 50%;
        background-color: #F3F4F6;
        height: 100%;
        padding: 3%;
    }

    .item-side-1 img {
        width: 80%;
    }

    .item-side-2 {
        flex-basis: 50%;
        text-align: left;
        padding: 20px;
    }

    .item-side-2 h6 {
        font-size: 1rem;
    }

    .item-side-2 h2 {
        font-size: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .portfolio_item {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }

    .item-side-1 {
        flex-basis: 50%;
        background-color: #F3F4F6;
        height: 100%;
        padding: 3%;
    }

    .item-side-1 img {
        width: 100%;
    }

    .item-side-2 {
        flex-basis: 50%;
        text-align: left;
        padding: 20px;
    }

    .item-side-2 h6 {
        font-size: 1rem;
    }

    .item-side-2 h2 {
        font-size: 1.5rem;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .portfolio_item {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: white;

    }
}